---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Hero from '../../components/Hero.astro'
import Card from '../../components/Card.astro'
import ContentMedia from '../../components/ContentMedia.astro'
import { getRepository } from '../../utils/github'
import { Icon } from 'astro-icon/components'

const repos = await Promise.all([
  getRepository('markteekman', 'accessible-astro-starter'),
  getRepository('markteekman', 'accessible-astro-components'),
  getRepository('markteekman', 'accessible-astro-dashboard'),
])
---

<DefaultLayout title="Home">
  <Hero
    title="Incluud"
    subtitle="Wij ontwikkelen Open Source toegankelijke software voor het web"
    buttonText="Bekijk onze laatste projecten"
  />
  <section id="projects">
    <div class="container">
      <h2>Projecten</h2>
      <div class="card-grid">
        {
          repos.map((repo) => {
            const descriptions = {
              'accessible-astro-starter':
                'Een toegankelijk starter thema voor Astro 5.0 met toegankelijkheidsfuncties zoals landmarks, verbeterde focus-outline en skip-links navigatie. Wordt geleverd met Tailwind, Prettier en ESLint ondersteuning.',
              'accessible-astro-components':
                'Een verzameling toegankelijke componenten voor Astro projecten met ingebouwde ARIA attributen, keyboard navigatie en interactieve elementen. Gemakkelijk te implementeren en aan te passen aan jouw behoeften.',
              'accessible-astro-dashboard':
                'Een toegankelijk admin dashboard thema voor Astro met een inlogpagina en dashboard overzicht. Bevat toegankelijkheidsfuncties zoals landmarks, verbeterde focus-outline en skip-links navigatie.',
            }
            return (
              <Card
                href={repo.html_url}
                title={repo.name}
                repo={repo}
                description={descriptions[repo.name]}
              />
            )
          })
        }

        <Card isPreview title="Binnenkort...">
          We werken aan meer toegankelijke Astro EN Shopify projecten, blijf op de hoogte voor
          updates!
        </Card>
      </div>
    </div>
  </section>
  <section id="mission">
    <div class="container">
      <h2>Onze missie</h2>
      <p>
        <Icon name="mdi:format-quote-open" size="3.5rem" />
        We willen het web toegankelijker maken voor iedereen door toegankelijke en inclusieve projecten
        te creëren die gemakkelijk te gebruiken en te begrijpen zijn door ontwikkelaars en eindgebruikers.
        <Icon name="mdi:format-quote-close" size="3.5rem" />
      </p>
      <a href="#who-we-are">Leer meer over ons</a>
    </div>
  </section>
  <section id="who-we-are">
    <div class="container">
      <h2>Wie zijn wij</h2>
    </div>
    <ContentMedia imgSrc="/mark-profile.png">
      <h3>Mark Teekman</h3>
      <p>
        Senior Front-end Developer met een sterke focus op Web Toegankelijkheid, momenteel werkzaam
        bij Acato Digital Agency. Mark beheerst en onderhoudt continu de kernvaardigheden voor het
        web: HTML, CSS en JavaScript. Deze fundamentele kennis stelt hem in staat om met
        verschillende JavaScript frameworks te werken, waarbij hij momenteel de voorkeur geeft aan
        Vue.js en Astro.js. Mark gebruikt SCSS of Tailwind CSS voor styling en houdt van het bouwen
        van toegankelijke en strak ogende gebruikersinterfaces.
      </p>
      <div class="socials">
        <a href="https://markteekman.nl">
          <Icon name="mdi:link" size="1.5rem" />
          Mark's website
        </a>
        <a href="https://github.com/markteekman">
          <Icon name="mdi:github" size="1.5rem" />
          Mark's GitHub
        </a>
        <a href="https://www.linkedin.com/in/markteekman/">
          <Icon name="mdi:linkedin" size="1.5rem" />
          Mark's LinkedIn
        </a>
      </div>
    </ContentMedia>
    <ContentMedia imgSrc="/peter-profile.png" reverseImg={true}>
      <h3>Peter Padberg</h3>
      <p>
        Ervaren back-end developer gespecialiseerd in Laravel en werkzaam als teamleider bij Exapps.
        Met zijn uitgebreide ervaring in PHP-ontwikkeling en teammanagement helpt hij projecten en
        ontwikkelaars naar succesvolle resultaten te leiden. Peter is een grote fan van Astro.js en
        is altijd op zoek naar manieren om het framework te verbeteren.
      </p>
      <div class="socials">
        <a href="https://github.com/peterpadberg">
          <Icon name="mdi:github" size="1.5rem" />
          Peter's GitHub
        </a>
        <a href="https://www.linkedin.com/in/peterpadberg/">
          <Icon name="mdi:linkedin" size="1.5rem" />
          Peter's LinkedIn
        </a>
      </div>
    </ContentMedia>
  </section>
</DefaultLayout>
